# -----------------------------------------------
# 1. IGNORE EVERYTHING
# -----------------------------------------------
*

# -----------------------------------------------
# 2. UNIGNORE TOP-LEVEL FILES & DIRECTORIES
#    (Must unignore parent directories first)
# -----------------------------------------------

# Unignore the primary directories
!.config/        # Necessary to track contents inside .config/
!.ghostty/       # Necessary to track contents inside .ghostty/

# Unignore top-level dotfiles
!.zshrc
!antigen.zsh
!.zshenv
!.gitignore
!.tmux.conf
!.vimrc
!.cheat
!.kube-config


# -----------------------------------------------
# 3. UNIGNORE SPECIFIC NESTED FILES
# -----------------------------------------------
!*/**/zsh-autosuggestions.zsh
!.config/helix/config.toml
!.config/ghostty/config.toml
!.config/zed/*
