*
!.zshrc
!antigen.zsh
!.zshenv
!.gitignore
!*/**/zsh-autosuggestions.zsh
!.tmux.conf
!.vimrc
!.cheat
.config/*
!.config/
.config/alacritty/*
!.config/alacritty/
!.config/alacritty/alacritty.toml
.config/*
!.config/
.config/helix/*
!.config/helix/
!.config/helix/config.toml